{% extends 'catalog/base.html' %}
{% block content %}
    {% load i18n %}
    {% load pinax_messages_tags %}
    <div class="pinax-messages-inbox-container">
        <div class="container"><br>
            <h1 class="with-actions">
                Skrzynka odbiorcza
            </h1>
            <section class="mailbox">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Temat wiadomości</th>
                            <th>Użytkownicy</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thread in threads %}
                        <div class="thread {% if thread|unread:user %} unread {% endif %}">
                            <tr>
                                <td>
                                    <div class="latest-message">
                                        <a href="{{thread.get_absolute_url}}">
                                            {% if thread|unread:user %} <b style="color:#e2a545; display: inline"> Nowa wiadomość! </b> {% endif %}
                                            <div style="display: inline;" class="subject">{{ thread.subject }}</div>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="participants"> {{ thread.users.all|join:", " }}</div>
                                </td>
                            </tr>
                        </div>
                        {% empty %}
                            <div class="no-messages">Nie masz wiadomości.</div>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

