{% extends 'catalog/base.html' %}
{% block content %}

<div class="pinax-messages-thread-detail-container">
    <h2 class="with-actions">
        {{ thread.subject }}
    </h2>

    {% for message in thread.messages.all %}
            <b>{{ message.sender.username }}</b> ({{ message.sent_at }}</i>)
            <i>{{ message.content|urlize|linebreaks }}</i>
    {% endfor %}

    <form class="comment-form" action="{% url "pinax_messages:thread_detail" thread.pk %}" method="post">
        {% csrf_token %}
        {{ form.content }}
        <div class="form-actions">
            <a href="{% url "pinax_messages:inbox" %}" class="cancel">Anuluj</a>
            <button>Wyślij</button> <br>
        </div>
    </form>
    <a href="{% url "pinax_messages:thread_delete" thread.pk %}">Usuń cały wątek</a>
</div>
{% endblock %}
