{% extends 'catalog/base.html' %}
{% block content %}

{% block head_title %}Potwierdź usunięcie wątku: {{ thread.subject }}{% endblock %}

<div class="pinax-messages-delete-container">
    <h2>{{ thread.subject }}</h2>

    {% url "pinax_messages:thread_delete" thread.pk as post_url %}

    <div class="delete-warning" role="alert">
        {% load i18n %}
        {% trans "Jesteś pewien, że chcesz usunąć ten wątek?" %}
    </div>

    <form action="{{ post_url }}" method="POST">
        {% csrf_token %}
        <div class="form-actions">
            <a href="{% url "pinax_messages:inbox" %}" class="cancel">{% trans "Anuluj" %}</a>
            <button>{% trans "Usuń" %}</button>
        </div>
    </form>
{% endblock %}
