{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container"><br>
        {% if items %}
            {% for item, image in items %}
                <div class="row">
                    <div class="col-sm-4">
                        {% load thumbnail %}
                        {% thumbnail image.image "230x340" as im %}
                        <a href="/item/{{ item.id }}">
                            <img class="d-block w-100" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        </a>
                        {% endthumbnail %}
                    </div>
                    <div class="col-sm-8">
                        <h3><a href="/item/{{ item.id }}">{{ item.item_name }}</a></h3>
                        <h6>{{ item.pub_date }}</h6>
                        <p><h4>{{ item.item_description|slice:":120" }}..</h4></p>
                        {% if user.is_authenticated %}
                            {% load app_filters %}
                            {% for observe in user.observing|split_by %}
                                {% if observe|slugify  == item.id|slugify  %}
                                    <a id='button{{item.id}}' onclick='button_manage("{{item.id}}")' href="#/" data-catid="{{item.id}}" class="stopobservingbutton btn btn-dark btn-lg">
                                        Przestań obserwować <span class="glyphicon glyphicon-heart"></span>
                                    </a>
                                    {% define "True" as already_observing %}
                                {% endif %}
                                {% if already_observing != "True" and forloop.last %}
                                    <a id='button{{item.id}}' onclick='button_manage("{{item.id}}")' href="#/" data-catid="{{item.id}}" class="observebutton btn btn-info btn-lg">
                                        Obserwuj <span class="glyphicon glyphicon-heart"></span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div><br><br>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-4">
                    <h2>Brak przedmiotów.</h2>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <ul class="pagination justify-content-center">
            {% if items_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items_list.previous_page_number }}"><span aria-hidden="true">‹</span></a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">‹</a></li>
            {% endif %}
            {% for page in items_list.paginator.page_range %}
                {% if page == items_list.number %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if items_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items_list.next_page_number }}">›</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">›</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    function button_manage(n) {
        var x = document.getElementById("button"+n);
        if (x.classList.contains('observebutton')) {
            var catid;
            catid = x.getAttribute("data-catid");
            $.ajax({
                type:"GET",
                url: "/observe",
                data:{
                    item_id: catid
                }
            });
            x.classList.remove("observebutton", "btn-info");
            x.classList.add("stopobservingbutton", "btn-dark");
            x.innerHTML = "Przestań obserwować <span class=\"glyphicon glyphicon-heart\"></span>";
        } else if (x.classList.contains('stopobservingbutton')) {
            var catid;
            catid = x.getAttribute("data-catid");
            $.ajax({
                type:"GET",
                url: "/stopobserving",
                data:{
                    item_id: catid
                }
            });
            x.classList.remove("stopobservingbutton", "btn-dark");
            x.classList.add("observebutton", "btn-info");
            x.innerHTML = "Obserwuj <span class=\"glyphicon glyphicon-heart\"></span>";
        }
        x.preventDefault()
    }
    </script>
{% endblock %}