{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container"><br>
        {% if items %}
            {% for item, image in items %}
                <div class="row">
                    <div class="col-sm-4">
                        {% load thumbnail %}
                        {% thumbnail image.image "230x340" as im %}
                        <a href="/item/{{ item.id }}">
                            <img class="d-block w-100" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        </a>
                        {% endthumbnail %}
                    </div>
                    <div class="col-sm-8">
                        <h3><a href="/item/{{ item.id }}">{{ item.item_name }}</a></h3>
                        <h6>{{ item.pub_date }}</h6>
                        <p><h4>{{ item.item_description|slice:":120" }}..</h4></p>
                    </div>
                </div><br><br>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-4">
                    <h2>Brak przedmiotów.</h2>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <ul class="pagination justify-content-center">
            {% if items_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items_list.previous_page_number }}"><span aria-hidden="true">‹</span></a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">‹</a></li>
            {% endif %}
            {% for page in items_list.paginator.page_range %}
                {% if page == items_list.number %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if items_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items_list.next_page_number }}">›</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">›</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}