{% extends 'catalog/base.html' %}
{% block content %}
    {% if item_details %}
        <div class="container"><br>
            <div class="row">
                <div class="col-sm-4">
                    <h1>{{ item_details.item_name }}</h1>
                    <h3>Opis ogłoszenia:</h3> {{ item_details.item_description|safe }}<br><br>
                    <h3 style="display: inline">Cena: {{ item_details.item_price }} zł </h3><br>

                    <h3 style="display: inline"> Użytkownik: </h3><a href="/user/{{ item_details.item_id_id }}">
                        {% if user_details.first_name and user_details.last_name %}
                            {{ user_details.first_name }} {{ user_details.last_name }}
                        {% else %}
                            {{ user_details.username }}
                        {% endif %}
                    </a>
                    <br><br><h6> Ogloszenie opublikowano: {{ item_details.pub_date }}</h6>
                </div>
                <div class="col-sm-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        {% if images_count|length > 1 %}
                        <ol class="carousel-indicators">
                            {% for i in images_count %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" {% if forloop.first %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                        <div class="carousel-inner">
                            {% for image in item_images %}
                                    {% load thumbnail %}
                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                        {% thumbnail image.image "550x550" crop="center" as im %}
                                            <img class="d-block w-100" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                                        {% endthumbnail %}
                                    </div>
                            {% endfor %}
                        </div>
                        {% if images_count|length > 1 %}
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            <div class="col-12">
                <div class="pinax-messages-create-container">
                    {% if user.pk != form.to_user.value %}
                    <h2>Napisz wiadomość </h2>
                        <form class="comment-form" action="" method="post">
                            {% csrf_token %}
                            <input type=hidden id="id_from_user" name="from_user" value="{{ user.pk }}">
                            <input type=hidden id="id_to_user" name="to_user" value="{{ item_details.item_id_id }}">
                            <input type=hidden id="subject" name="subject" value="Wiadomość dotycząca ogłoszenia <a href='/item/{{ item_details.id }}'>{{ item_details.item_name }}</a>">
                            <div class="form-group">
                                <label for="id_content">Treść wiadomości:</label>
                                <textarea type="text" class="form-control" required id='id_content' name="content"></textarea>
                            </div>
                            <button class="btn btn-success">Wyślij <span class="glyphicon glyphicon-envelope"></span></button>
                        </form>
                    {% else %}
                        <p>Wiadomość do samego siebie?</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container"><br>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Najprawdopodobniej przedmiot nie jest już dostępny.</h3>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}