{% extends 'catalog/base.html' %}
{% block content %}
<div class="container"><br>
    {% if user.is_authenticated %}
        <h2>Ustawienia konta</h2><br>
        <div class="row">
            <div class="col-6">
                <form method="post">
                <h3>Zmiana danych osobowych: </h3>
                {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">Imię: </label>
                        <input type="text" class="form-control" id="first_name" name="first_name" maxlength="30" value="{{ form_change.first_name.value }}">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Nazwisko: </label>
                       <input type="text" class="form-control" id="last_name" name="last_name" maxlength="50" value="{{ form_change.last_name.value }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Adres e-mail: </label>
                        <input type="text" class="form-control" id="email" type="text" name="email" value="{{ form_change.email.value }}">
                    </div>
                    <div class="form-group">
                        <label for="user_phonenumber">Numer telefonu: </label>
                        <input type="text" class="form-control" id="user_phonenumber" type="text" name="user_phonenumber" maxlength="12" value="{{ form_change.user_phonenumber.value }}">
                    </div>
                <button type="submit" name="change_data"  class="btn btn-primary">Zmień</button>
                </form>
                <h3>Facebook:</h3>
                {% if facebook_login %}
                    <p>Połączono jako <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ user }}</a></p>
                    {% if can_disconnect %}
                        <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Odłącz od Facebooka</button>
                        </form>
                    {% else %}
                        <button type="button" disabled>Odłącz od Facebooka</button>
                        <p style="color: #570003">Musisz <a href="/user/password">ustawić hasło</a> dla swojego konta przez odłączeniem konta Facebook.</p>
                    {% endif %}
                {% else %}
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Połącz z Facebookiem.</a>
                {% endif %}
            </div>
            <div class="col-6">
                <h3>Zmiana hasła:</h3>
                {% if not user.has_usable_password %}
                    <p style="color: red">Nie ustawiono hasła.</p>
                {% endif %}
                <form method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="old_password">Stare hasło: </label>
                        <input type="password" class="form-control" id="old_password" name="old_password" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="new_password1">Nowe hasło: </label>
                       <input type="password" class="form-control" id="new_password1" name="new_password1" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="new_password2">Potwierdzenie nowego hasła: </label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2">
                    </div>
                <button type="submit" name="change_password"  class="btn btn-primary">Zmień hasło</button>
                </form>
                {% if not user.is_superuser %}
                    <h3>Usunięcie konta:</h3>
                    <a href="/user/delete_user/" class="btn btn-primary" onclick="return confirm('Jesteś pewien?')">Usuń konto</a>
                {% endif %}
            </div>
        </div>
    {% else %}
    <h3> Przed dodaniem ogłoszenia zaloguj się lub załóż konto. </h3>
    <p> <a href="/login">Zaloguj się.</a> </p>
    {% endif %}
</div>
{% endblock %}




