{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container"><br>
        {% if user_details %}
        <div class="row">
            <div class="col-8">
                <ul>
                    <h4>Przedmioty użytkownika: </h4>
                    {% for item in user_items %}
                        <li><a href="/item/{{ item.id }}">{{ item.item_name }}</a></li>
                    {% endfor %}
                    <!--{% for item in latest_items_list %}-->
                        <!--<li><a href="/item/{{ item.id }}/">{{ item.item_name }}</a></li>-->
                    <!--{% endfor %}-->
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <h2>{{ user_details.user_name }}</h2>
                    <h4> Adres e-mail: <i>{{ user_details.email }}</i></h4>
                    <h4> Numer telefonu: <i>{{ user_details.user_phonenumber }}</i> </h4>
                </ul>
            </div>
        </div>
        {% else %}
            <p>Taki użytkownik nie istnieje.</p>
        {% endif %}
    </div>
{% endblock %}